---
---

<section class="sec bg-warm">
  <div class="inner-sm">
    <div class="sec-hdr reveal">
      <span class="sec-num">08</span>
      <h2 class="sec-title">Μακροπρόθεσμο<br />όραμα.</h2>
    </div>
    <ul class="vision-list reveal">
      <li><span class="v-num">01</span><span class="v-text">Θεματική σειρά boxes</span></li>
      <li><span class="v-num">02</span><span class="v-text">Corporate wellbeing toolkits</span></li>
      <li><span class="v-num">03</span><span class="v-text">Workshops</span></li>
    </ul>
  </div>
</section>
