---
import { SITE } from "../constants/site.ts";
---

<header class="site-header">
  <div class="site-header__inner container">
    <a href="/" class="site-logo">{SITE.name}</a>
    <a href={SITE.instagramUrl} class="site-nav-link" target="_blank" rel="noopener noreferrer">Instagram</a>
  </div>
</header>
